/*Center any object to the the center of the page*/

@mixin CenterFix{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin PageSize{
    position: relative;
    height: 100vh;
    width: 100%;
}